
<hr/>
<h2>
<%= "Welcome " + @person.first_name.capitalize + " " + @person.last_name.capitalize  %></h2>
<br>
<h4><%= "Based on your birthday: " + @person.birthdate.strftime("%m%d%Y").to_s %><br>
  <%="Your numerology number is " + @birth_date_number.to_s %></h4>

  <div class="well">
    <p><%= @message %></p>
  </div>

        <div class="row buffer center">
          <div class="col-sm-4 col-md-3 col-lg-3 col-lg-offset-0 col-xlg-3 col-xlg-offset-0"><a href="/people" class="btn btn-danger btn-size">A List of People</a></div>
          <div class="col-sm-4 col-md-3 col-md-offset-1 col-lg-3 col-lg-offset-1 col-xlg-3 col-xlg-offset-1"><a href="/people/new" class="btn btn-danger btn-size"> Add a New Person</a></div>
          <div class="col-sm-4 col-md-3 col-md-offset-1 col-lg-3 col-lg-offset-1 col-xlg-3 col-xlg-offset-1"><a href="/" class="btn btn-danger btn-size">Home</a></div>
        </div>
