<!doctype html>
<head>
  <meta charset="utf-8">
  <title>Numerology App</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" >

</head>
<body>
  <div class="container">
    <div class="header">
      <h1>Numerology Calculator <small>A Skillcrush Project</small></h1>
    </div>
    <hr />

    <%= yield %>
    <hr />
    <p>Copyright - 2016</p>
  </div>
</body>
</html>
